{% extends "registration/base.html" %}
{% block content %}
<form role="form" action="{% url 'registerpage' %}" method="post">
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-group">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div><!-- /.col -->
        <div class="col-12 text-center">
            <a href="/">Signin</a>
        </div><!-- /.col -->
    </div>
    </div>
    {% endblock %}